body {
margin: 0px auto;
}

.first {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.header {
  font-style: 18px;
  color: #E5E7EB;
  width: 1100px;
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0px;
  align-items: center;
}

a {
  text-decoration: none;
  font-style: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.container {
  display: flex;
  width: 1100px;
  justify-content: space-between;
}
 
.info,
img {
  width: 45%;

}

 .hero {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}






button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: 6px 24px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 0px;
  font-weight: bold;
}

.text {
  margin: 16px 0px;
  color: #E5E7EB;
}



 

img {

  border-radius: 7px;
  display: block;

} 






.second {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px;
}

.information {
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
  text-align: center;
  width: 1100px;
  margin: 18px auto;
}

.illustrations {
  display: flex;
  justify-content: center;
  width: 1100px;
  text-align: center;

}

.illustrations div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


.third {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0px;
}
.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  width: 900px;
  
}

.thor {
  font-weight: bolder;
}

.fourth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  width: 800px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 7px;
  margin: 64px auto;
  padding: 28px 14px;
  display: flex;
  justify-content: space-between;

}

.call-to-action {
  font-weight: bolder;
}

.signup button {
  border:solid  #F9FAF8;
  display: block;
  margin-right: 25px;
}


.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 32px 0px;
}